*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
#container{
   background-color: rgb(206, 206, 206);
   width: 420px;
   height: 250px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}
#conteudo{
   margin-top: 50px;
}
button{
   width: 95px;
   padding: 20px;
   margin: 8px;
}